* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.page4_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/Rectangle\ \(8\).png");
  color: #fff;
  padding: 300px 40px;
  width: auto;
  text-align: center;
  background-size: cover;
  background-position: center center;
  height: 80%;
  margin-bottom: 20px;

}
.page4_content h1 {
  font-size: 57px;
  margin-bottom: 30px;
  font-weight:400;
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 25px;
  margin-top: 30px;
}
.button button {
  width: 150px;
  color: #fff;
  border: 1px solid #fff;
  padding: 15px;
  margin-right: 15px;
  background: none;
  font-weight: 400;
}
