* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
.page2_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}
.first-item_container,
.second-item_container {
  width: 100%;
}

.first_item {
  background-image: url(../img/Rectangle\ \(4\).png);
  background-size: cover;
  width: 100%;
  padding: 600px 0 50px;
}
.second_item {
  background-image: url(../img/Rectangle\ \(5\).png);
  background-size: cover;
  width: 100%;
  margin-left: 40px;
  padding: 600px 0 50px;
}
a {
  text-decoration: none;
  color: #fff;
  margin: 60px;
  padding-top: 25px;
}
